In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('en.openfoodfacts.org.products.tsv', sep='\t', header=0)

C:\Users\Oleg\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df = df[['product_name', 'brands','ingredients_text', 'countries']]

In [4]:
df = df.loc[df['countries'] == 'US', :]

In [5]:
df = df[['product_name', 'brands','ingredients_text']]
df = df.dropna()
df = df.reset_index(drop=True)
brands = list(df.brands.unique())
brands_df = pd.DataFrame(brands, columns=['brands'])

In [6]:
brands_df = brands_df.reset_index()

In [7]:
brands_df = brands_df.rename(columns={"index":"brand_id"})
brands_df.head()

   brand_id          brands
0         0  Torn & Glasser
1         1       Grizzlies
2         2  Bob's Red Mill
3         3            Unfi
4         4        Lundberg

In [8]:
new_df = pd.merge(brands_df, df, on='brands', how='outer')

In [11]:
new_df = new_df[['brand_id', 'product_name', 'ingredients_text']]
new_df.head()

,brand_id,product_name,ingredients_text
0,0,Peanuts,"Peanuts, wheat flour, sugar, rice flour, tapio..."
1,0,Cranberries,"Cranberries, sugar, sunflower oil."
2,0,Milk Chocolate Pretzels,"Milk chocolate (sugar, cocoa butter, chocolate..."
3,0,Roasted Almond Butter,Almonds.
4,0,Honey Roasted Almond Butter,"Almonds, honey coating (sucrose, wheat starch,..."

In [12]:
new_df.to_csv('list_of_products.csv', index=False)
brands_df.to_csv('list_of_brands.csv', index=False)